body {
    background: #000;
    color: #fff;
}

.hidden {
    display: none;
}

.hide-after::after {
    display: none;
}

.navbar-dark {
    background: #000;
}

.nav-link:hover {
    /* Necessary to show pointer over nav items that do not have an href attribute */
    cursor: pointer;
}