@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

#terminal {
    max-width: 576px;
    margin: 1.5rem auto;
    font-family: 'Roboto Mono', monospace;
}

#terminal .prompt {
    display: block;
}

#terminal .prompt-cursor::after {
    content: "\2588"
}

#terminal pre {
    font-weight: 600;
}

@media (max-width: 768px) {
    /* This is so the Welcome ASCII art will fit on smaller devices */
    #terminal {
        font-size: 0.75rem;
    }
}

@media (min-width: 992px) {

}