@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

#terminal {
    margin: 1.5rem 1rem;
    font-family: 'Roboto Mono', monospace;
}

#terminal .prompt {
    display: block;
}

#terminal .prompt-cursor::after {
    content: "\2588"
}

@media (max-width: 768px) {
    /* This is so the Welcome ASCII art will fit on smaller devices */
    #terminal {
        font-size: 12px;
    }
}